@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

.become-a-chef .reservation-img {
    min-height: 500px;
    background-size: cover;
    background-position: center;
  }
  
  .become-a-chef .reservation-form-bg {
    background: rgba(55, 55, 63, 0.04);
  }
  
  .become-a-chef .php-email-form {
    padding: 40px;
  }
  
  @media (max-width: 575px) {
    .become-a-chef .php-email-form {
      padding: 20px;
    }
  }
  
  .become-a-chef .php-email-form h3 {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  
  .become-a-chef.php-email-form h4 {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 20px 0 0 0;
  }
  
  .become-a-chef .php-email-form p {
    font-size: 14px;
    margin-bottom: 20px;
  }
  
  .become-a-chef.php-email-form .error-message {
    display: none;
    color: #fff;
    background: #df1529;
    text-align: left;
    padding: 15px;
    margin-bottom: 24px;
    font-weight: 600;
  }
  
  .become-a-chef.php-email-form .sent-message {
    display: none;
    color: #fff;
    background: #059652;
    text-align: center;
    padding: 15px;
    margin-bottom: 24px;
    font-weight: 600;
  }
  
  .become-a-chef.php-email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
    margin-bottom: 24px;
  }
  
  .become-a-chef .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #059652;
    border-top-color: #fff;
    -webkit-animation: animate-loading 1s linear infinite;
    animation: animate-loading 1s linear infinite;
  }
  
  .become-a-chef .php-email-form input,
  .become-a-chef .php-email-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
    border-radius: 0;
  }
  
  .become-a-chef .php-email-form input:focus,
  .become-a-chef .php-email-form textarea:focus {
    border-color: var(--color-primary);
  }
  
  .become-a-chef.php-email-form input {
    padding: 12px 15px;
  }
  
  .become-a-chef.php-email-form textarea {
    padding: 12px 15px;
  }
  
  .become-a-chef.php-email-form button[type=submit] {
    background: var(--color-primary);
    border: 0;
    padding: 14px 60px;
    color: #fff;
    transition: 0.4s;
    border-radius: 50px;
  }
  
  .become-a-chef .php-email-form button[type=submit]:hover {
    background: #ec2727;
  }
  
  @-webkit-keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }