@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

h2 {
font-size: 6rem;
position: absolute;
top: 16rem;
left:70rem;
font-weight: bold;
color:aliceblue;
}

h1 {
    font-size: 6rem;
    position: absolute;
    top: 18rem;
    left:70rem;
    font-weight: bold;
    color:aliceblue;
    }
    