<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     
    <!-- ======= Chefs Section ======= -->
    <section id="chefs" class="chefs section-bg">
        <div class="container" data-aos="fade-up">
  
          <div class="section-header">
            <h2>Chefs</h2>
            <p>Our <span>Best</span> Chefs</p>
            <pre>
              <span>
            This magical ,marvelous food on our plate,
               the sustenance we absorb  has a story to tell. 
         It has a journey.
            </span>     
            </pre>
          </div>
  
          <div class="row gy-4">
  
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
              <div class="chef-member">
                <div class="member-img">
                  <img src="assets/img/chefs/chefs-1.jpg" class="img-fluid" alt="">
                  <div class="social">
                    <a href=""><i class="bi bi-star"></i></a>
                    <a href=""><i class="bi bi-star"></i></a>
                    <a href=""><i class="bi bi-star"></i></a>
                    <a href=""><i class="bi bi-star"></i></a>
                    <a href=""><i class="bi bi-star"></i></a>
                  </div>
                </div>
                <div class="member-info">
                  <h4>Omar</h4>
                  <span>Chef specialized in Tunisian north traditional food.</span>
                </div>
              </div>
            </div><!-- End Chefs Member -->
  
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
              <div class="chef-member">
                <div class="member-img">
                  <img src="assets/img/chefs/chefs-2.jpg" class="img-fluid" alt="">
                  <div class="social">
                    <a href=""><i class="bi bi-star"></i></a>
                    <a href=""><i class="bi bi-star"></i></a>
                    <a href=""><i class="bi bi-star"></i></a>
                    <a href=""><i class="bi bi-star"></i></a>
                    <a href=""><i class="bi bi-star"></i></a>
                  </div>
                </div>
                <div class="member-info">
                  <h4>Samia</h4>
                  <span>Chef specialized in Tunisian West traditional food.</span>
                </div>
              </div>
            </div><!-- End Chefs Member -->
  
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
              <div class="chef-member">
                <div class="member-img">
                  <img src="assets/img/chefs/chefs-3.jpg" class="img-fluid" alt="">
                  <div class="social">
                    <a href=""><i class="bi bi-star"></i></a>
                    <a href=""><i class="bi bi-star"></i></a>
                    <a href=""><i class="bi bi-star"></i></a>
                    <a href=""><i class="bi bi-star"></i></a>
                    <a href=""><i class="bi bi-star"></i></a>
                  </div>
                </div>
                <div class="member-info">
                  <h4>Mohamed</h4>
                  <span>Chef specialized in Tunisian south traditional food.</span>
                </div>
              </div>
            </div><!-- End Chefs Member -->
  
          </div>
  
        </div>
      </section><!-- End Chefs Section -->
</body>
</html>