<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up Form</title>
    <link rel="stylesheet" href="assets/css/signup.css">
</head>
<body>
    <!-- <div class="container">
        <img src="assets/img/mekletna login.png" alt="logo">
        <p>Sign up to benefit from our services!</p>
    </div> -->

    <header>
        <div class="link3">
            <a href="">Registration Form</a>
        </div>
        <div class="box1">
            <input type="text" name="fname" id="fname" placeholder="First Name">
            <input type="text" name="lname" id="lname" placeholder="Last Name">
        </div>
        <div class="box">
            <input type="number" id="phonenb" name="phonenb" placeholder="12-345-678" title="enter only numbers please" required/>
            <input type="email" name="email" id="email" placeholder="Email address or phone number"><br>
            <input type="password" name="password" id="password" placeholder="Password">
            <input type="date" name="bdate" id="bdate">
        </div>
        <div class="box1">
            <input type="number" name="postal" id="postal" placeholder="Postal Code">
            <input type="text" name="region" id="region" placeholder="Region">
        </div>
        <div class="box">
            <input type="text" id="adress" name="adress" placeholder="Adress (Exp: 123 Street, City)">
        </div>

        <div class="link">
           <a href="#">Sign Up</a>
        </div>
        <div class="link1">
            <p>Already have an account ? <a href="login.html">Log In</a> </p>
        </div>
    </header>
   
</body>
</html>